In [1]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\hp\anaconda3\anaconda\lib\site-packages (0.4.1)
Requirement already satisfied: prettytable<1 in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: ipython>=1.0 in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: six in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: jedi>=0.16 in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: backcall in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: pickleshare in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: pygments in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: decorator in c:\users\hp\anaconda3\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\hp\anaconda3\anaconda\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\hp\anaconda3\anaconda\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\anaconda3\anaconda\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%load_ext sql
%sql sqlite:///office.db

In [ ]:
Table name: employees: Add the column 'employee_id' and make it the primary key

last_name		 first_name	  Position			              Salary		Hired	

Lew			    Allen		City Administrator		          295000		2004
Sessoms			Allen		President			              295000		2008
HENDERSON		KAYATANYA	Superintendent Of Schools	      275000		2007
Lanier			Cathy		Chief				              230743		1990
Arons			Bernard		Medical Officer Psych		      206000		2008
Ritchie			Elspeth		Medical Officer Psych		      206000		2010
GRAY			VINCENT		Mayor				              200000		2005
Marshall		Katherine	Medical Officer Psych		      200000		2008
Gandhi			Natwar		Chief Financial Officer		       199700		1997
DUNCAN			LORETTA		Workers Compensation Recipient	   197808		1984
Baxter			Graeme		Act Provost & Vp Acd Aff	       196257		2008
Miramontes		David		Medical Director		193125		2011
Graves			Warren		Chief Of Staff			193125		2011
Stanchfield		Eric		Executive Director		193125		2007
Jones			Tyler		Medical Officer Psych		190550		2008
BROWN			KWAME		Chairman			190000		2005
Eure			Philip		Executive Director		188692		2000
Cooper			Ginnie		Executive Director		188044		2006
Yadao			Nilda		Medical Officer (psychiatry)	188027		1987
Ellerbe			Kenneth		Fire Chief			187302		2003
Ruland			Jeffrey		Dir Of The Ctr For Wf Str & Ec	186911		2009
Parker			Craig		General Counsel			186911		2009
Farley			Mark		Vp, Human Resources		186911		2008
Otero			Beatriz		Dep Mayor For Hlth & Hum Svcs	185000		2011
Quander			Paul		Deputy Mayor			185000		2009
Pierre 			Louis		Marie	Chief Medical Examiner	185000		1985
Pestaner		Joseph		Medical Officer (medical Exami	183892		1997
Revercomb		Carolyn		Medical Officer (medical Exami	183892		2005
Morgan 			Johnson		Sheila	Chief Investment Officer183677		1991
Williamson		Michael		Deputy Director			182000		2011
White			Mattie		Medical Officer (psychiatry)	180604		1989
Park			Kyung		Medical Officer (psychiatry)	180604		1987
Gore			T		Medical Officer (psychiatry)	172101		2005
LUDWIG			BENJAMIN	Workers Compensation Recipient	171517		1972
Atdjian			Sylvia		Medical Officer (psychiatry)	170938		2007
Zaidi			Syed		Medical Officer (psychiatry)	170344		2005
Sherron			Robert		Medical Officer (psychiatry)	170344		1991
Johnson			Nicole		Medical Officer (psychiatry)	170344		2007
RUDA			LISA		Chief Of Staff			170000		2007
Beers			Nathaniel	Deputy Superintendent		170000		2007
Nuss			Laura		Director			170000		2007
Mancini			Robert		Acting Director			170000		2004
Wicker			Henry		Medical Officer Opthal		168378		1987
Davenport		Nancy		Administrative Librarian	167200		2006
Jaji			Abayomi		Medical Officer (psychiatry)	167062		2000
Stevens			KyleeAnn	Medical Officer (psychiatry)	167051		2008
Smothers		Kenneth		Medical Officer (psychiatry)	166995		1987
Akhtar			Saleha		Medical Officer (psychiatry)	166995		1988
Singh			Anjali		Medical Officer (psychiatry)	166370		1999
Rahman			Umar		Medical Officer (psychiatry)	166370		1996
Adewale			Benjamin	Medical Officer (psychiatry)	166370		1988
Zaidi			Syed		Medical Officer General Practi	165842		1983
Jackson			Kenneth		Assistant Fire Chief Srvs	165306		1982
Berns			David		Dir Of Human Services		165200		2011
Cordi			Stephen		Deputy Cfo Otr			165162		2008
Mallory			Lisa		Acting Director			165000		2004
Flowers			Brian		General Counsel			165000		1985
Bellamy			Terry		Director			165000		2008
West			Millicent	Director, Homeland Sec & Ema	165000		2003
Pappas			Gregory		Deputy Dir			164800		2011
Altaf			Samia		Supervisor Medical Officer	164800		2010
Owens			Karen		Dental Officer			164800		1989

In [4]:
%reload_ext sql
%sql sqlite:///office.db

In [22]:
%%sql

CREATE TABLE employees (employee_id integer PRIMARY KEY AUTOINCREMENT,
                       last_name text,
                       first_name text,
                       position text,
                       salary integer,
                       date_hired integer
                       );

 * sqlite:///office.db
Done.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [24]:
%%sql
SELECT *
FROM sqlite_master

 * sqlite:///office.db
Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'employees', 'employees', 2, 'CREATE TABLE employees (employee_id integer PRIMARY KEY AUTOINCREMENT,\n                       last_name text,\n                       first_name tex ... (1 characters truncated) ... ,\n                       position text,\n                       salary integer,\n                       date_hired integer\n                       )')]

In [23]:
%%sql

CREATE TABLE employees AS
SELECT last_name, first_name, position, salary, date_hired
FROM employee;

 * sqlite:///office.db
(sqlite3.OperationalError) table employees already exists
[SQL: CREATE TABLE employees AS
SELECT last_name, first_name, position, salary, date_hired
FROM employee;]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [17]:
%%sql 
DROP TABLE IF EXISTS employees

 * sqlite:///office.db
Done.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [25]:
%%sql 

INSERT INTO employees(last_name, first_name, position, salary, date_hired)
VALUES ('Lew', 'Allen', 'City Administrator', 295000, 2004);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Sessoms', 'Allen', 'President', 295000, 2008);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('HENDERSON', 'KAYATANYA', 'Superintendent Of Schools', 275000, 2007);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Lanier', 'Cathy', 'Chief', 230743, 1990);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Arons', 'Bernard', 'Medical Officer Psych', 206000, 2008);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES("Ritchie", "Elspeth", "Medical Officer Psych", 206000, 2010);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES("GRAY", "VINCENT", "Mayor", 200000, 2005);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES("Marshall", "Katherine", "Medical Officer Psych", 200000, 2008);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES("Gandhi", "Natwar", "Chief Financial Officer", 199700, 1997);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES("DUNCAN", "LORETTA", "Workers Compensation Recipient", 197808, 1984);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES("Baxter", "Graeme", "Act Provost & Vp Acd Aff", 196257, 2008);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES("Miramontes", "David", "Medical Director", 193125, 2011);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES("Graves","Warren", "Chief Of Staff", 193125, 2011);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES("Stanchfield", "Eric", "Executive Director", 193125, 2007);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES("Jones", "Tyler", "Medical Officer Psych", 190550, 2008);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES("BROWN", "KWAME", "Chairman", 190000, 2005);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES("Eure", "Philip", "Executive Director", 188692, 2000);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES("Cooper", "Ginnie", "Executive Director", 188044, 2006);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES("Yadao", "Nilda","Medical Officer (psychiatry)", 188027, 1987);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES("Ellerbe", "Kenneth", "Fire Chief", 187302, 2003);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES("Ruland", "Jeffrey", "Dir Of The Ctr For Wf Str & Ec", 186911, 2009);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES("Parker", "Craig", "General Counsel", 186911, 2009);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES("Farley", "Mark", "Vp Human Resources", 186911, 2008);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES("Otero", "Beatriz", "Dep Mayor For Hlth & Hum Svcs", 185000, 2011);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Quander', 'Paul', 'Deputy Mayor', 185000, 2009);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Pierre', 'Louis Marie', 'Chief Medical Examiner', 185000, 1985);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Pestaner', 'Joseph', 'Medical Officer (medical Exami', 183892, 1997);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Revercomb', 'Carolyn', 'Medical Officer (medical Exami', 183892, 2005);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Morgan', 'Johnson Sheila', 'Chief Investment Officer', 183677, 1991);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Williamson', 'Michael', 'Deputy Director', 182000, 2011);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('White', 'Mattie', 'Medical Officer (psychiatry)', 180604, 1989);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Park', 'Kyung', 'Medical Officer (psychiatry)', 180604, 1987);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Gore', 'T', 'Medical Officer (psychiatry)', 172101, 2005);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('LUDWIG', 'BENJAMIN', 'Workers Compensation Recipient', 171517, 1972);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES("Atdjian", "Sylvia", "Medical Officer (psychiatry)", 170938, 2007);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Zaidi', 'Syed', 'Medical Officer (psychiatry)', 170344, 2005);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Sherron', 'Robert', 'Medical Officer (psychiatry)', 170344, 1991);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Johnson', 'Nicole', 'Medical Officer (psychiatry)', 170344, 2007);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('RUDA', 'LISA', 'Chief Of Staff', 170000, 2007);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Beers', 'Nathaniel', 'Deputy Superintendent', 170000, 2007);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Nuss', 'Laura', 'Director', 170000, 2007);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Mancini', 'Robert', 'Acting Director', 170000, 2004);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Wicker', 'Henry', 'Medical Officer Opthal', 168378, 1987);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Davenport', 'Nancy', 'Administrative Librarian', 167200, 2006);

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Jaji', 'Abayomi', 'Medical Officer (psychiatry)', 167062, 2000);
       
INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Stevens', 'KyleeAnn', 'Medical Officer (psychiatry)', 167051, 2008);
       
INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Smothers', 'Kenneth', 'Medical Officer (psychiatry)', 166995, 1987); 
       
INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Akhtar', 'Saleha', 'Medical Officer (psychiatry)', 166995, 1988); 
       
INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Singh', 'Anjali', 'Medical Officer (psychiatry)', 166370, 1999); 

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Rahman', 'Umar', 'Medical Officer (psychiatry)', 166370, 1996); 

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Adewale', 'Benjamin', 'Medical Officer (psychiatry)', 166370, 1988); 
       
INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Zaidi', 'Syed', 'Medical Officer General Practi', 165842, 1983); 
       
INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Jackson', 'Kenneth', 'Assistant Fire Chief Srvs', 165306, 1982); 
       
INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Berns', 'David', 'Dir Of Human Services', 165200, 2011); 
       
INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Cordi', 'Stephen', 'Deputy Cfo Otr', 165162, 2008); 
       
INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Mallory', 'Lisa', 'Acting Director', 165000, 2004); 
       
INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Flowers', 'Brian', 'General Counsel', 165000, 1985); 
       
INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Bellamy', 'Terry', 'Director', 165000, 2008); 
       
INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('West', 'Millicent', 'Director Homeland Sec & Ema', 165000, 2003); 
       
INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Pappas', 'Gregory', 'Deputy Dir', 164800, 2011); 
       
INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Altaf', 'Samia', 'Supervisor Medical Officer', 164800, 2010); 

INSERT INTO employees (last_name, first_name, position, salary, date_hired)
VALUES('Owens', 'Karen', 'Dental Officer', 164800, 1989);

 * sqlite:///office.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [26]:
%%sql
SELECT *
FROM employees

 * sqlite:///office.db
Done.

[(1, 'Lew', 'Allen', 'City Administrator', 295000, 2004),
 (2, 'Sessoms', 'Allen', 'President', 295000, 2008),
 (3, 'HENDERSON', 'KAYATANYA', 'Superintendent Of Schools', 275000, 2007),
 (4, 'Lanier', 'Cathy', 'Chief', 230743, 1990),
 (5, 'Arons', 'Bernard', 'Medical Officer Psych', 206000, 2008),
 (6, 'Ritchie', 'Elspeth', 'Medical Officer Psych', 206000, 2010),
 (7, 'GRAY', 'VINCENT', 'Mayor', 200000, 2005),
 (8, 'Marshall', 'Katherine', 'Medical Officer Psych', 200000, 2008),
 (9, 'Gandhi', 'Natwar', 'Chief Financial Officer', 199700, 1997),
 (10, 'DUNCAN', 'LORETTA', 'Workers Compensation Recipient', 197808, 1984),
 (11, 'Baxter', 'Graeme', 'Act Provost & Vp Acd Aff', 196257, 2008),
 (12, 'Miramontes', 'David', 'Medical Director', 193125, 2011),
 (13, 'Graves', 'Warren', 'Chief Of Staff', 193125, 2011),
 (14, 'Stanchfield', 'Eric', 'Executive Director', 193125, 2007),
 (15, 'Jones', 'Tyler', 'Medical Officer Psych', 190550, 2008),
 (16, 'BROWN', 'KWAME', 'Chairman', 190000, 2005),
 (17, 'Eure', 'Philip', 'Executive Director', 188692, 2000),
 (18, 'Cooper', 'Ginnie', 'Executive Director', 188044, 2006),
 (19, 'Yadao', 'Nilda', 'Medical Officer (psychiatry)', 188027, 1987),
 (20, 'Ellerbe', 'Kenneth', 'Fire Chief', 187302, 2003),
 (21, 'Ruland', 'Jeffrey', 'Dir Of The Ctr For Wf Str & Ec', 186911, 2009),
 (22, 'Parker', 'Craig', 'General Counsel', 186911, 2009),
 (23, 'Farley', 'Mark', 'Vp Human Resources', 186911, 2008),
 (24, 'Otero', 'Beatriz', 'Dep Mayor For Hlth & Hum Svcs', 185000, 2011),
 (25, 'Quander', 'Paul', 'Deputy Mayor', 185000, 2009),
 (26, 'Pierre', 'Louis Marie', 'Chief Medical Examiner', 185000, 1985),
 (27, 'Pestaner', 'Joseph', 'Medical Officer (medical Exami', 183892, 1997),
 (28, 'Revercomb', 'Carolyn', 'Medical Officer (medical Exami', 183892, 2005),
 (29, 'Morgan', 'Johnson Sheila', 'Chief Investment Officer', 183677, 1991),
 (30, 'Williamson', 'Michael', 'Deputy Director', 182000, 2011),
 (31, 'White', 'Mattie', 'Medical Officer (psychiatry)', 180604, 1989),
 (32, 'Park', 'Kyung', 'Medical Officer (psychiatry)', 180604, 1987),
 (33, 'Gore', 'T', 'Medical Officer (psychiatry)', 172101, 2005),
 (34, 'LUDWIG', 'BENJAMIN', 'Workers Compensation Recipient', 171517, 1972),
 (35, 'Atdjian', 'Sylvia', 'Medical Officer (psychiatry)', 170938, 2007),
 (36, 'Zaidi', 'Syed', 'Medical Officer (psychiatry)', 170344, 2005),
 (37, 'Sherron', 'Robert', 'Medical Officer (psychiatry)', 170344, 1991),
 (38, 'Johnson', 'Nicole', 'Medical Officer (psychiatry)', 170344, 2007),
 (39, 'RUDA', 'LISA', 'Chief Of Staff', 170000, 2007),
 (40, 'Beers', 'Nathaniel', 'Deputy Superintendent', 170000, 2007),
 (41, 'Nuss', 'Laura', 'Director', 170000, 2007),
 (42, 'Mancini', 'Robert', 'Acting Director', 170000, 2004),
 (43, 'Wicker', 'Henry', 'Medical Officer Opthal', 168378, 1987),
 (44, 'Davenport', 'Nancy', 'Administrative Librarian', 167200, 2006),
 (45, 'Jaji', 'Abayomi', 'Medical Officer (psychiatry)', 167062, 2000),
 (46, 'Stevens', 'KyleeAnn', 'Medical Officer (psychiatry)', 167051, 2008),
 (47, 'Smothers', 'Kenneth', 'Medical Officer (psychiatry)', 166995, 1987),
 (48, 'Akhtar', 'Saleha', 'Medical Officer (psychiatry)', 166995, 1988),
 (49, 'Singh', 'Anjali', 'Medical Officer (psychiatry)', 166370, 1999),
 (50, 'Rahman', 'Umar', 'Medical Officer (psychiatry)', 166370, 1996),
 (51, 'Adewale', 'Benjamin', 'Medical Officer (psychiatry)', 166370, 1988),
 (52, 'Zaidi', 'Syed', 'Medical Officer General Practi', 165842, 1983),
 (53, 'Jackson', 'Kenneth', 'Assistant Fire Chief Srvs', 165306, 1982),
 (54, 'Berns', 'David', 'Dir Of Human Services', 165200, 2011),
 (55, 'Cordi', 'Stephen', 'Deputy Cfo Otr', 165162, 2008),
 (56, 'Mallory', 'Lisa', 'Acting Director', 165000, 2004),
 (57, 'Flowers', 'Brian', 'General Counsel', 165000, 1985),
 (58, 'Bellamy', 'Terry', 'Director', 165000, 2008),
 (59, 'West', 'Millicent', 'Director Homeland Sec & Ema', 165000, 2003),
 (60, 'Pappas', 'Gregory', 'Deputy Dir', 164800, 2011),
 (61, 'Altaf', 'Samia', 'Supervisor Medical Officer', 164800, 2010),
 (62, 'Owens', 'Karen', 'Dental Officer', 164800, 1989)]

In [27]:
%%sql
SELECT DISTINCT(position)
FROM employees;

 * sqlite:///office.db
Done.

[('City Administrator',),
 ('President',),
 ('Superintendent Of Schools',),
 ('Chief',),
 ('Medical Officer Psych',),
 ('Mayor',),
 ('Chief Financial Officer',),
 ('Workers Compensation Recipient',),
 ('Act Provost & Vp Acd Aff',),
 ('Medical Director',),
 ('Chief Of Staff',),
 ('Executive Director',),
 ('Chairman',),
 ('Medical Officer (psychiatry)',),
 ('Fire Chief',),
 ('Dir Of The Ctr For Wf Str & Ec',),
 ('General Counsel',),
 ('Vp Human Resources',),
 ('Dep Mayor For Hlth & Hum Svcs',),
 ('Deputy Mayor',),
 ('Chief Medical Examiner',),
 ('Medical Officer (medical Exami',),
 ('Chief Investment Officer',),
 ('Deputy Director',),
 ('Deputy Superintendent',),
 ('Director',),
 ('Acting Director',),
 ('Medical Officer Opthal',),
 ('Administrative Librarian',),
 ('Medical Officer General Practi',),
 ('Assistant Fire Chief Srvs',),
 ('Dir Of Human Services',),
 ('Deputy Cfo Otr',),
 ('Director Homeland Sec & Ema',),
 ('Deputy Dir',),
 ('Supervisor Medical Officer',),
 ('Dental Officer',)]

In [28]:
%%sql
SELECT *
FROM employees
ORDER BY first_name DESC;

 * sqlite:///office.db
Done.

[(13, 'Graves', 'Warren', 'Chief Of Staff', 193125, 2011),
 (7, 'GRAY', 'VINCENT', 'Mayor', 200000, 2005),
 (50, 'Rahman', 'Umar', 'Medical Officer (psychiatry)', 166370, 1996),
 (15, 'Jones', 'Tyler', 'Medical Officer Psych', 190550, 2008),
 (58, 'Bellamy', 'Terry', 'Director', 165000, 2008),
 (33, 'Gore', 'T', 'Medical Officer (psychiatry)', 172101, 2005),
 (35, 'Atdjian', 'Sylvia', 'Medical Officer (psychiatry)', 170938, 2007),
 (36, 'Zaidi', 'Syed', 'Medical Officer (psychiatry)', 170344, 2005),
 (52, 'Zaidi', 'Syed', 'Medical Officer General Practi', 165842, 1983),
 (55, 'Cordi', 'Stephen', 'Deputy Cfo Otr', 165162, 2008),
 (61, 'Altaf', 'Samia', 'Supervisor Medical Officer', 164800, 2010),
 (48, 'Akhtar', 'Saleha', 'Medical Officer (psychiatry)', 166995, 1988),
 (37, 'Sherron', 'Robert', 'Medical Officer (psychiatry)', 170344, 1991),
 (42, 'Mancini', 'Robert', 'Acting Director', 170000, 2004),
 (17, 'Eure', 'Philip', 'Executive Director', 188692, 2000),
 (25, 'Quander', 'Paul', 'Deputy Mayor', 185000, 2009),
 (19, 'Yadao', 'Nilda', 'Medical Officer (psychiatry)', 188027, 1987),
 (38, 'Johnson', 'Nicole', 'Medical Officer (psychiatry)', 170344, 2007),
 (9, 'Gandhi', 'Natwar', 'Chief Financial Officer', 199700, 1997),
 (40, 'Beers', 'Nathaniel', 'Deputy Superintendent', 170000, 2007),
 (44, 'Davenport', 'Nancy', 'Administrative Librarian', 167200, 2006),
 (59, 'West', 'Millicent', 'Director Homeland Sec & Ema', 165000, 2003),
 (30, 'Williamson', 'Michael', 'Deputy Director', 182000, 2011),
 (31, 'White', 'Mattie', 'Medical Officer (psychiatry)', 180604, 1989),
 (23, 'Farley', 'Mark', 'Vp Human Resources', 186911, 2008),
 (26, 'Pierre', 'Louis Marie', 'Chief Medical Examiner', 185000, 1985),
 (56, 'Mallory', 'Lisa', 'Acting Director', 165000, 2004),
 (41, 'Nuss', 'Laura', 'Director', 170000, 2007),
 (10, 'DUNCAN', 'LORETTA', 'Workers Compensation Recipient', 197808, 1984),
 (39, 'RUDA', 'LISA', 'Chief Of Staff', 170000, 2007),
 (32, 'Park', 'Kyung', 'Medical Officer (psychiatry)', 180604, 1987),
 (46, 'Stevens', 'KyleeAnn', 'Medical Officer (psychiatry)', 167051, 2008),
 (20, 'Ellerbe', 'Kenneth', 'Fire Chief', 187302, 2003),
 (47, 'Smothers', 'Kenneth', 'Medical Officer (psychiatry)', 166995, 1987),
 (53, 'Jackson', 'Kenneth', 'Assistant Fire Chief Srvs', 165306, 1982),
 (8, 'Marshall', 'Katherine', 'Medical Officer Psych', 200000, 2008),
 (62, 'Owens', 'Karen', 'Dental Officer', 164800, 1989),
 (16, 'BROWN', 'KWAME', 'Chairman', 190000, 2005),
 (3, 'HENDERSON', 'KAYATANYA', 'Superintendent Of Schools', 275000, 2007),
 (27, 'Pestaner', 'Joseph', 'Medical Officer (medical Exami', 183892, 1997),
 (29, 'Morgan', 'Johnson Sheila', 'Chief Investment Officer', 183677, 1991),
 (21, 'Ruland', 'Jeffrey', 'Dir Of The Ctr For Wf Str & Ec', 186911, 2009),
 (43, 'Wicker', 'Henry', 'Medical Officer Opthal', 168378, 1987),
 (60, 'Pappas', 'Gregory', 'Deputy Dir', 164800, 2011),
 (11, 'Baxter', 'Graeme', 'Act Provost & Vp Acd Aff', 196257, 2008),
 (18, 'Cooper', 'Ginnie', 'Executive Director', 188044, 2006),
 (14, 'Stanchfield', 'Eric', 'Executive Director', 193125, 2007),
 (6, 'Ritchie', 'Elspeth', 'Medical Officer Psych', 206000, 2010),
 (12, 'Miramontes', 'David', 'Medical Director', 193125, 2011),
 (54, 'Berns', 'David', 'Dir Of Human Services', 165200, 2011),
 (22, 'Parker', 'Craig', 'General Counsel', 186911, 2009),
 (4, 'Lanier', 'Cathy', 'Chief', 230743, 1990),
 (28, 'Revercomb', 'Carolyn', 'Medical Officer (medical Exami', 183892, 2005),
 (57, 'Flowers', 'Brian', 'General Counsel', 165000, 1985),
 (5, 'Arons', 'Bernard', 'Medical Officer Psych', 206000, 2008),
 (51, 'Adewale', 'Benjamin', 'Medical Officer (psychiatry)', 166370, 1988),
 (24, 'Otero', 'Beatriz', 'Dep Mayor For Hlth & Hum Svcs', 185000, 2011),
 (34, 'LUDWIG', 'BENJAMIN', 'Workers Compensation Recipient', 171517, 1972),
 (49, 'Singh', 'Anjali', 'Medical Officer (psychiatry)', 166370, 1999),
 (1, 'Lew', 'Allen', 'City Administrator', 295000, 2004),
 (2, 'Sessoms', 'Allen', 'President', 295000, 2008),
 (45, 'Jaji', 'Abayomi', 'Medical Officer (psychiatry)', 167062, 2000)]

In [29]:
%%sql
SELECT first_name, last_name, salary
FROM employees
WHERE salary > '200000';

 * sqlite:///office.db
Done.

[('Allen', 'Lew', 295000),
 ('Allen', 'Sessoms', 295000),
 ('KAYATANYA', 'HENDERSON', 275000),
 ('Cathy', 'Lanier', 230743),
 ('Bernard', 'Arons', 206000),
 ('Elspeth', 'Ritchie', 206000)]

In [42]:
%%sql
UPDATE employees
SET last_name = 'PETER'
WHERE last_name like 'RUDA%';

 * sqlite:///office.db
1 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [58]:
%%sql
SELECT last_name, first_name, position, salary, date_hired
FROM employees
WHERE first_name = 'LISA';

 * sqlite:///office.db
Done.

[('PETER', 'LISA', 'Chief Of Staff', 170000, 2007)]

In [60]:
%%sql
DELETE FROM employees
WHERE first_name = 'KWAME';

 * sqlite:///office.db
1 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [61]:
%%sql
SELECT *
FROM employees
ORDER BY first_name;

 * sqlite:///office.db
Done.

[(45, 'Jaji', 'Abayomi', 'Medical Officer (psychiatry)', 167062, 2000),
 (1, 'Lew', 'Allen', 'City Administrator', 295000, 2004),
 (2, 'Sessoms', 'Allen', 'President', 295000, 2008),
 (49, 'Singh', 'Anjali', 'Medical Officer (psychiatry)', 166370, 1999),
 (34, 'LUDWIG', 'BENJAMIN', 'Workers Compensation Recipient', 171517, 1972),
 (24, 'Otero', 'Beatriz', 'Dep Mayor For Hlth & Hum Svcs', 185000, 2011),
 (51, 'Adewale', 'Benjamin', 'Medical Officer (psychiatry)', 166370, 1988),
 (5, 'Arons', 'Bernard', 'Medical Officer Psych', 206000, 2008),
 (57, 'Flowers', 'Brian', 'General Counsel', 165000, 1985),
 (28, 'Revercomb', 'Carolyn', 'Medical Officer (medical Exami', 183892, 2005),
 (4, 'Lanier', 'Cathy', 'Chief', 230743, 1990),
 (22, 'Parker', 'Craig', 'General Counsel', 186911, 2009),
 (12, 'Miramontes', 'David', 'Medical Director', 193125, 2011),
 (54, 'Berns', 'David', 'Dir Of Human Services', 165200, 2011),
 (6, 'Ritchie', 'Elspeth', 'Medical Officer Psych', 206000, 2010),
 (14, 'Stanchfield', 'Eric', 'Executive Director', 193125, 2007),
 (18, 'Cooper', 'Ginnie', 'Executive Director', 188044, 2006),
 (11, 'Baxter', 'Graeme', 'Act Provost & Vp Acd Aff', 196257, 2008),
 (60, 'Pappas', 'Gregory', 'Deputy Dir', 164800, 2011),
 (43, 'Wicker', 'Henry', 'Medical Officer Opthal', 168378, 1987),
 (21, 'Ruland', 'Jeffrey', 'Dir Of The Ctr For Wf Str & Ec', 186911, 2009),
 (29, 'Morgan', 'Johnson Sheila', 'Chief Investment Officer', 183677, 1991),
 (27, 'Pestaner', 'Joseph', 'Medical Officer (medical Exami', 183892, 1997),
 (3, 'HENDERSON', 'KAYATANYA', 'Superintendent Of Schools', 275000, 2007),
 (62, 'Owens', 'Karen', 'Dental Officer', 164800, 1989),
 (8, 'Marshall', 'Katherine', 'Medical Officer Psych', 200000, 2008),
 (20, 'Ellerbe', 'Kenneth', 'Fire Chief', 187302, 2003),
 (47, 'Smothers', 'Kenneth', 'Medical Officer (psychiatry)', 166995, 1987),
 (53, 'Jackson', 'Kenneth', 'Assistant Fire Chief Srvs', 165306, 1982),
 (46, 'Stevens', 'KyleeAnn', 'Medical Officer (psychiatry)', 167051, 2008),
 (32, 'Park', 'Kyung', 'Medical Officer (psychiatry)', 180604, 1987),
 (39, 'PETER', 'LISA', 'Chief Of Staff', 170000, 2007),
 (10, 'DUNCAN', 'LORETTA', 'Workers Compensation Recipient', 197808, 1984),
 (41, 'Nuss', 'Laura', 'Director', 170000, 2007),
 (56, 'Mallory', 'Lisa', 'Acting Director', 165000, 2004),
 (26, 'Pierre', 'Louis Marie', 'Chief Medical Examiner', 185000, 1985),
 (23, 'Farley', 'Mark', 'Vp Human Resources', 186911, 2008),
 (31, 'White', 'Mattie', 'Medical Officer (psychiatry)', 180604, 1989),
 (30, 'Williamson', 'Michael', 'Deputy Director', 182000, 2011),
 (59, 'West', 'Millicent', 'Director Homeland Sec & Ema', 165000, 2003),
 (44, 'Davenport', 'Nancy', 'Administrative Librarian', 167200, 2006),
 (40, 'Beers', 'Nathaniel', 'Deputy Superintendent', 170000, 2007),
 (9, 'Gandhi', 'Natwar', 'Chief Financial Officer', 199700, 1997),
 (38, 'PETER', 'Nicole', 'Medical Officer (psychiatry)', 170344, 2007),
 (19, 'Yadao', 'Nilda', 'Medical Officer (psychiatry)', 188027, 1987),
 (25, 'Quander', 'Paul', 'Deputy Mayor', 185000, 2009),
 (17, 'Eure', 'Philip', 'Executive Director', 188692, 2000),
 (37, 'Sherron', 'Robert', 'Medical Officer (psychiatry)', 170344, 1991),
 (42, 'Mancini', 'Robert', 'Acting Director', 170000, 2004),
 (48, 'Akhtar', 'Saleha', 'Medical Officer (psychiatry)', 166995, 1988),
 (61, 'Altaf', 'Samia', 'Supervisor Medical Officer', 164800, 2010),
 (55, 'Cordi', 'Stephen', 'Deputy Cfo Otr', 165162, 2008),
 (36, 'Zaidi', 'Syed', 'Medical Officer (psychiatry)', 170344, 2005),
 (52, 'Zaidi', 'Syed', 'Medical Officer General Practi', 165842, 1983),
 (35, 'Atdjian', 'Sylvia', 'Medical Officer (psychiatry)', 170938, 2007),
 (33, 'Gore', 'T', 'Medical Officer (psychiatry)', 172101, 2005),
 (58, 'Bellamy', 'Terry', 'Director', 165000, 2008),
 (15, 'Jones', 'Tyler', 'Medical Officer Psych', 190550, 2008),
 (50, 'Rahman', 'Umar', 'Medical Officer (psychiatry)', 166370, 1996),
 (7, 'GRAY', 'VINCENT', 'Mayor', 200000, 2005),
 (13, 'Graves', 'Warren', 'Chief Of Staff', 193125, 2011)]

In [64]:
%%sql
ALTER TABLE employees
RENAME COLUMN position TO job_role;

 * sqlite:///office.db
Done.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [65]:
%%sql
SELECT *
FROM employees
ORDER BY last_name;

 * sqlite:///office.db
Done.

[(51, 'Adewale', 'Benjamin', 'Medical Officer (psychiatry)', 166370, 1988),
 (48, 'Akhtar', 'Saleha', 'Medical Officer (psychiatry)', 166995, 1988),
 (61, 'Altaf', 'Samia', 'Supervisor Medical Officer', 164800, 2010),
 (5, 'Arons', 'Bernard', 'Medical Officer Psych', 206000, 2008),
 (35, 'Atdjian', 'Sylvia', 'Medical Officer (psychiatry)', 170938, 2007),
 (11, 'Baxter', 'Graeme', 'Act Provost & Vp Acd Aff', 196257, 2008),
 (40, 'Beers', 'Nathaniel', 'Deputy Superintendent', 170000, 2007),
 (58, 'Bellamy', 'Terry', 'Director', 165000, 2008),
 (54, 'Berns', 'David', 'Dir Of Human Services', 165200, 2011),
 (18, 'Cooper', 'Ginnie', 'Executive Director', 188044, 2006),
 (55, 'Cordi', 'Stephen', 'Deputy Cfo Otr', 165162, 2008),
 (10, 'DUNCAN', 'LORETTA', 'Workers Compensation Recipient', 197808, 1984),
 (44, 'Davenport', 'Nancy', 'Administrative Librarian', 167200, 2006),
 (20, 'Ellerbe', 'Kenneth', 'Fire Chief', 187302, 2003),
 (17, 'Eure', 'Philip', 'Executive Director', 188692, 2000),
 (23, 'Farley', 'Mark', 'Vp Human Resources', 186911, 2008),
 (57, 'Flowers', 'Brian', 'General Counsel', 165000, 1985),
 (7, 'GRAY', 'VINCENT', 'Mayor', 200000, 2005),
 (9, 'Gandhi', 'Natwar', 'Chief Financial Officer', 199700, 1997),
 (33, 'Gore', 'T', 'Medical Officer (psychiatry)', 172101, 2005),
 (13, 'Graves', 'Warren', 'Chief Of Staff', 193125, 2011),
 (3, 'HENDERSON', 'KAYATANYA', 'Superintendent Of Schools', 275000, 2007),
 (53, 'Jackson', 'Kenneth', 'Assistant Fire Chief Srvs', 165306, 1982),
 (45, 'Jaji', 'Abayomi', 'Medical Officer (psychiatry)', 167062, 2000),
 (15, 'Jones', 'Tyler', 'Medical Officer Psych', 190550, 2008),
 (34, 'LUDWIG', 'BENJAMIN', 'Workers Compensation Recipient', 171517, 1972),
 (4, 'Lanier', 'Cathy', 'Chief', 230743, 1990),
 (1, 'Lew', 'Allen', 'City Administrator', 295000, 2004),
 (56, 'Mallory', 'Lisa', 'Acting Director', 165000, 2004),
 (42, 'Mancini', 'Robert', 'Acting Director', 170000, 2004),
 (8, 'Marshall', 'Katherine', 'Medical Officer Psych', 200000, 2008),
 (12, 'Miramontes', 'David', 'Medical Director', 193125, 2011),
 (29, 'Morgan', 'Johnson Sheila', 'Chief Investment Officer', 183677, 1991),
 (41, 'Nuss', 'Laura', 'Director', 170000, 2007),
 (24, 'Otero', 'Beatriz', 'Dep Mayor For Hlth & Hum Svcs', 185000, 2011),
 (62, 'Owens', 'Karen', 'Dental Officer', 164800, 1989),
 (38, 'PETER', 'Nicole', 'Medical Officer (psychiatry)', 170344, 2007),
 (39, 'PETER', 'LISA', 'Chief Of Staff', 170000, 2007),
 (60, 'Pappas', 'Gregory', 'Deputy Dir', 164800, 2011),
 (32, 'Park', 'Kyung', 'Medical Officer (psychiatry)', 180604, 1987),
 (22, 'Parker', 'Craig', 'General Counsel', 186911, 2009),
 (27, 'Pestaner', 'Joseph', 'Medical Officer (medical Exami', 183892, 1997),
 (26, 'Pierre', 'Louis Marie', 'Chief Medical Examiner', 185000, 1985),
 (25, 'Quander', 'Paul', 'Deputy Mayor', 185000, 2009),
 (50, 'Rahman', 'Umar', 'Medical Officer (psychiatry)', 166370, 1996),
 (28, 'Revercomb', 'Carolyn', 'Medical Officer (medical Exami', 183892, 2005),
 (6, 'Ritchie', 'Elspeth', 'Medical Officer Psych', 206000, 2010),
 (21, 'Ruland', 'Jeffrey', 'Dir Of The Ctr For Wf Str & Ec', 186911, 2009),
 (2, 'Sessoms', 'Allen', 'President', 295000, 2008),
 (37, 'Sherron', 'Robert', 'Medical Officer (psychiatry)', 170344, 1991),
 (49, 'Singh', 'Anjali', 'Medical Officer (psychiatry)', 166370, 1999),
 (47, 'Smothers', 'Kenneth', 'Medical Officer (psychiatry)', 166995, 1987),
 (14, 'Stanchfield', 'Eric', 'Executive Director', 193125, 2007),
 (46, 'Stevens', 'KyleeAnn', 'Medical Officer (psychiatry)', 167051, 2008),
 (59, 'West', 'Millicent', 'Director Homeland Sec & Ema', 165000, 2003),
 (31, 'White', 'Mattie', 'Medical Officer (psychiatry)', 180604, 1989),
 (43, 'Wicker', 'Henry', 'Medical Officer Opthal', 168378, 1987),
 (30, 'Williamson', 'Michael', 'Deputy Director', 182000, 2011),
 (19, 'Yadao', 'Nilda', 'Medical Officer (psychiatry)', 188027, 1987),
 (36, 'Zaidi', 'Syed', 'Medical Officer (psychiatry)', 170344, 2005),
 (52, 'Zaidi', 'Syed', 'Medical Officer General Practi', 165842, 1983)]

In [71]:
%%sql
SELECT first_name and last_name AS NAME, SALARY
FROM employees
WHERE NAME IS first_name and last_name;

 * sqlite:///office.db
Done.

[]

In [72]:
%%sql
SELECT *
FROM employees
ORDER BY SALARY ASC;

 * sqlite:///office.db
Done.

[(60, 'Pappas', 'Gregory', 'Deputy Dir', 164800, 2011),
 (61, 'Altaf', 'Samia', 'Supervisor Medical Officer', 164800, 2010),
 (62, 'Owens', 'Karen', 'Dental Officer', 164800, 1989),
 (56, 'Mallory', 'Lisa', 'Acting Director', 165000, 2004),
 (57, 'Flowers', 'Brian', 'General Counsel', 165000, 1985),
 (58, 'Bellamy', 'Terry', 'Director', 165000, 2008),
 (59, 'West', 'Millicent', 'Director Homeland Sec & Ema', 165000, 2003),
 (55, 'Cordi', 'Stephen', 'Deputy Cfo Otr', 165162, 2008),
 (54, 'Berns', 'David', 'Dir Of Human Services', 165200, 2011),
 (53, 'Jackson', 'Kenneth', 'Assistant Fire Chief Srvs', 165306, 1982),
 (52, 'Zaidi', 'Syed', 'Medical Officer General Practi', 165842, 1983),
 (49, 'Singh', 'Anjali', 'Medical Officer (psychiatry)', 166370, 1999),
 (50, 'Rahman', 'Umar', 'Medical Officer (psychiatry)', 166370, 1996),
 (51, 'Adewale', 'Benjamin', 'Medical Officer (psychiatry)', 166370, 1988),
 (47, 'Smothers', 'Kenneth', 'Medical Officer (psychiatry)', 166995, 1987),
 (48, 'Akhtar', 'Saleha', 'Medical Officer (psychiatry)', 166995, 1988),
 (46, 'Stevens', 'KyleeAnn', 'Medical Officer (psychiatry)', 167051, 2008),
 (45, 'Jaji', 'Abayomi', 'Medical Officer (psychiatry)', 167062, 2000),
 (44, 'Davenport', 'Nancy', 'Administrative Librarian', 167200, 2006),
 (43, 'Wicker', 'Henry', 'Medical Officer Opthal', 168378, 1987),
 (39, 'PETER', 'LISA', 'Chief Of Staff', 170000, 2007),
 (40, 'Beers', 'Nathaniel', 'Deputy Superintendent', 170000, 2007),
 (41, 'Nuss', 'Laura', 'Director', 170000, 2007),
 (42, 'Mancini', 'Robert', 'Acting Director', 170000, 2004),
 (36, 'Zaidi', 'Syed', 'Medical Officer (psychiatry)', 170344, 2005),
 (37, 'Sherron', 'Robert', 'Medical Officer (psychiatry)', 170344, 1991),
 (38, 'PETER', 'Nicole', 'Medical Officer (psychiatry)', 170344, 2007),
 (35, 'Atdjian', 'Sylvia', 'Medical Officer (psychiatry)', 170938, 2007),
 (34, 'LUDWIG', 'BENJAMIN', 'Workers Compensation Recipient', 171517, 1972),
 (33, 'Gore', 'T', 'Medical Officer (psychiatry)', 172101, 2005),
 (31, 'White', 'Mattie', 'Medical Officer (psychiatry)', 180604, 1989),
 (32, 'Park', 'Kyung', 'Medical Officer (psychiatry)', 180604, 1987),
 (30, 'Williamson', 'Michael', 'Deputy Director', 182000, 2011),
 (29, 'Morgan', 'Johnson Sheila', 'Chief Investment Officer', 183677, 1991),
 (27, 'Pestaner', 'Joseph', 'Medical Officer (medical Exami', 183892, 1997),
 (28, 'Revercomb', 'Carolyn', 'Medical Officer (medical Exami', 183892, 2005),
 (24, 'Otero', 'Beatriz', 'Dep Mayor For Hlth & Hum Svcs', 185000, 2011),
 (25, 'Quander', 'Paul', 'Deputy Mayor', 185000, 2009),
 (26, 'Pierre', 'Louis Marie', 'Chief Medical Examiner', 185000, 1985),
 (21, 'Ruland', 'Jeffrey', 'Dir Of The Ctr For Wf Str & Ec', 186911, 2009),
 (22, 'Parker', 'Craig', 'General Counsel', 186911, 2009),
 (23, 'Farley', 'Mark', 'Vp Human Resources', 186911, 2008),
 (20, 'Ellerbe', 'Kenneth', 'Fire Chief', 187302, 2003),
 (19, 'Yadao', 'Nilda', 'Medical Officer (psychiatry)', 188027, 1987),
 (18, 'Cooper', 'Ginnie', 'Executive Director', 188044, 2006),
 (17, 'Eure', 'Philip', 'Executive Director', 188692, 2000),
 (15, 'Jones', 'Tyler', 'Medical Officer Psych', 190550, 2008),
 (12, 'Miramontes', 'David', 'Medical Director', 193125, 2011),
 (13, 'Graves', 'Warren', 'Chief Of Staff', 193125, 2011),
 (14, 'Stanchfield', 'Eric', 'Executive Director', 193125, 2007),
 (11, 'Baxter', 'Graeme', 'Act Provost & Vp Acd Aff', 196257, 2008),
 (10, 'DUNCAN', 'LORETTA', 'Workers Compensation Recipient', 197808, 1984),
 (9, 'Gandhi', 'Natwar', 'Chief Financial Officer', 199700, 1997),
 (7, 'GRAY', 'VINCENT', 'Mayor', 200000, 2005),
 (8, 'Marshall', 'Katherine', 'Medical Officer Psych', 200000, 2008),
 (5, 'Arons', 'Bernard', 'Medical Officer Psych', 206000, 2008),
 (6, 'Ritchie', 'Elspeth', 'Medical Officer Psych', 206000, 2010),
 (4, 'Lanier', 'Cathy', 'Chief', 230743, 1990),
 (3, 'HENDERSON', 'KAYATANYA', 'Superintendent Of Schools', 275000, 2007),
 (1, 'Lew', 'Allen', 'City Administrator', 295000, 2004),
 (2, 'Sessoms', 'Allen', 'President', 295000, 2008)]

In [79]:
%%sql
SELECT COUNT(*) AS "salary" 
FROM employees
WHERE salary > '200000';

 * sqlite:///office.db
Done.

[(6,)]

In [82]:
%%sql
SELECT MAX(salary) as "highest salary"
FROM employees;

 * sqlite:///office.db
Done.

[(295000,)]

In [83]:
%%sql
SELECT MIN(salary) as "least salary"
FROM employees;

 * sqlite:///office.db
Done.

[(164800,)]